<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""/>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'dashboard.css') }}"/>

        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                crossorigin=""></script>

        <link rel="stylesheet" href="{{ url_for('static', filename = 'navbar.css') }}"/>

        {% if title %}
          <title>ITS Lab COVID-19 Project - {{ title }}</title>
          {% else %}
          <title>ITS Lab COVID-19 Project</title>
          {% endif %}
    </head>

    <body>
        <nav class="navbar navbar-expand-md">
        <!--<nav class="navbar navbar-expand-md bg-dark navbar-dark">-->
            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename = 'its_logo.png') }}" alt="Logo" id="navbar-logo">
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link" href="#">Dashboard</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Records</a> </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">My profile</a>
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </li>
            </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
