<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""/>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'dashboard.css') }}"/>

        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                crossorigin=""></script>

        <title>ITS Lab - Covid-19 Project</title>

    </head>

    <body>
        <div id="mapid"></div>
        <script>
            var mymap = L.map('mapid').setView([13, 122], 6);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
                {attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox.streets',
                    accessToken: 'pk.eyJ1IjoiaHNhcmJhcyIsImEiOiJjanlwZGo0c3QwOGtnM2Nydmpld3E2eHgzIn0.K8YEH82qn6VAMir8VENL9Q'
                }).addTo(mymap);

            document.getElementsByClassName( 'leaflet-control-attribution' )[0].style.display = 'none';

            {{markers}}.forEach(myFunction);

            function myFunction(item) {
                let marker = L.marker(item).addTo(mymap);}

        </script>

    </body>

</html>
