{% extends "base.html" %}

{% block content %}

    <div id="mapid"></div>
        <script>
            let mymap = L.map('mapid').setView([13, 122], 6);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
                {attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox.streets',
                    accessToken: 'pk.eyJ1IjoiaHNhcmJhcyIsImEiOiJjanlwZGo0c3QwOGtnM2Nydmpld3E2eHgzIn0.K8YEH82qn6VAMir8VENL9Q'
                }).addTo(mymap);

            document.getElementsByClassName( 'leaflet-control-attribution' )[0].style.display = 'none';

            {{markers}}.forEach(add_markers);

            function add_markers(item) {
                let circleOptions = {
                    color: 'red',
                    fillColor: 'red',
                    fillOpacity: 9
                };

                let marker = L.circle(item,150, circleOptions).addTo(mymap);
            }
        </script>

{% endblock %}